<div class="center">
  <h1>Welcome to the Best Financing Accounting App</h1>

  <h3><%= link_to "Register", new_account_registration_path, class: "btn btn-lg btn-primary" %>
    or <%= link_to "Login", new_account_session_path, class: "btn btn-lg btn-primary" %></h3>
</div>