<div class="well well-sm">
  <b>Balance: </b><%= number_to_currency @total_incomes-@total_expenses %>
  <b>Total Incomes: </b><%= number_to_currency @total_incomes %>
  <b>Total Expenses: </b><%= number_to_currency @total_expenses %>
</div>